*{
    margin:0;
    padding:0;
    font-family:poppins;
    text-decoration:none;
    text-transform:capitalize;
    

}

body{
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    
}
header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:#f6e102;
    align-items: center;
    display:flex;
    padding: 16px 9%;
    justify-content:space-between;
    z-index:1000;
    
}

header .logo{
    font-size:40px;
    color:#000000;
    font-weight:bolder;

}
header .navbar a{
    font-size:24px;
    padding:24px;
    color:#000000;
}

.nav-acc{
    background-color: transparent; 
    font-weight:650;
}

.heading{
    font-size:56px;
    padding-top:108px ;
    padding-left: 41%;

}

.heading span{
    color:#f6e102;
}

.contact{
    color: rgb(252, 252, 252); 

    display:flex;
    align-items:center;
    min-height:100vh;
    background:url('images/BG02.jpg') no-repeat;
    background-size:cover; 
    background-position: center;
    justify-content: space-between;
    
}

.contact .content{
    max-width: 50%;
    padding-left: 96px;
    padding-top: 92px; 

}

.contact .content p span{
    color: #f6e102;
    font-size: 20px;
}


.column {
    float: right;
    width: 50%;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
    padding-top: 80px;
    padding-right: 96px;

}